@import './style/workspaces.scss';
@import './style/player.scss';
@import './style/clock.scss';
@import './style/quicksettings.scss';

window.bar {
    // background-color: $background;
    background-color: transparent;
}

// menu {
//     background-color: $primary-bg;
//     color: $primary-fg;
//     border: 1px solid $primary-fg;
//     border-radius: 5px;
// }

.bar-container {
    // margin: 5px;
    padding: ($padding * .6) ($padding * 1.2);
    // border-radius: 6px;
    background-color: transparentize($color: $primary-bg, $amount: .4);

    .workspaces {
        @include workspaces;
    }

    .players {
        @include players;
    }

    .clock {
        @include clock;
    }

    .system-tray {
        background-color: $overlay-bg;
        border-radius: $radius;
        padding: 0 $padding;
    }

    .quicksettings {
        @include quicksettings
    }
}
