@mixin floating-widget($use-shadow: $use-shadow, $use-border: true) {
    @if $use-shadow {
        box-shadow: $shadow;
    } @else if $use-border {
        border: $border;
    }

    margin: max($padding, 8px);
    background-color: $primary-bg;
    color: $primary-fg;
    border-radius: $radius;
    padding: $padding;
}

@mixin inline-widget($use-border: false) {
    @if $use-border {
        border: $border;
    }

    // margin: max($padding, 8px);
    transition: $transition;
    background-color: $overlay-bg;
    color: $fg;
    border-radius: $radius;
    padding: $padding;
}


// .floating-widget {
//     @include floating-widget;
// }
