@mixin slider($size: .8em, $slider-width: .7em, $slider-color: $fg, $slider-visible: true, $slider-w-multiplier: 1, $slider-h-multiplier: 1, $radius: $radius) {
    all: unset;

    trough {
        transition: $transition;
        border: none;
        border-radius: $radius;
        // border: $border;
        background-color: $bg;
        min-height: $size;
        min-width: $size;

        highlight,
        progress {
            // background-image: $slider-color;
            // create transition for size
            background-color: $slider-color;
            border: none;
            border-radius: $radius;
            min-height: $size;
            min-width: $size;
        }
    }

    slider {
        @include unset;

        @if $slider-visible {
            background-color: $slider-color;
        }

        border-radius: $radius;
        min-height: $size * $slider-w-multiplier;
        min-width: $size * $slider-h-multiplier;
        margin: -($slider-width * 1.2);
    }

}
