// .widget-wrapper {
//     background-color: $overlay-bg;
//     color: $primary-fg;
//     padding: $padding;
//     border-radius: $radius;
// }

.slider-box {

    .icon {
        padding: $padding;
        padding-right: $padding * 2;
    }

    scale {
        @include slider($slider-color: $primary-fg, $slider-visible: false);
    }           
}

.simple-button {
    background-color: $overlay-bg;
    transition: $transition;

    &, &:hover {
        padding: $padding;
        border-radius: $radius;
    }

    &:hover {
        background-color: $primary-fg;
    }
}

.toggleable {
    background-color: $overlay-bg;
    transition: $transition;

    &, &:hover {
        padding: $padding;
        border-radius: $radius;
    }
    // margin: 1px 0;
    // box-shadow: 0 0 0 1px $secondary-bg;

    &.active {
        // background-color: $secondary-fg;

        .icon {
            color: $primary-fg;
        }
    }
}

window.menu {
    background-color: transparent;
    border: unset;

    .icon {
        font-size: 2rem;
    }

    // .menu-wrapper {
    // }

    .menu-content {
        @include floating-widget;

        .greeting {
            .img {
                border: 2px solid $overlay-bg;
                border-radius: $radius;
                // color: aqua;
            }

            .simple-button {
                &.poweroff {
                    .icon {
                        // color: $red;
                    }
                }
                
                &.reboot {
                    .icon {
                        // color: $yellow;
                    }
                }

                &.suspend {
                    .icon {
                        // color: $green;
                    }
                }

                &.logout {
                    .icon {
                        // color: $blue;
                    }
                }

            }
        }

        .hardware {

            .battery-info {
                background-color: $bg;
                border-radius: $radius;
                padding: $padding;

                .menu-battery {
                    $battery-size: 80px;
    
                    min-width: $battery-size;
                    min-height: $battery-size;
                    font-size: 6px;
                    // color: $green;

                    .icon {
                        font-size: 2.5rem;
                        // color: $green;
                    }
                }

                .battery-percent {
                    font-size: 1.8rem;
                    // color: $green;

                    font-weight: 500;
                }

            }
        }

        .vnb {
            padding: $padding;
            background-color: $overlay-bg;
            border-radius: $radius;
        }
    }

    .media {
        // padding: $padding;

        .player {
            @include floating-widget;
        }
    
        .cover {
            @if $use-shadow {
                box-shadow: $shadow;
            }
    
            background-size: cover;
            background-position: center;
            border-radius: $radius*0.8;
            margin-right: $spacing;
        }
    
        button {
            @include button($flat: true);
            padding: $padding * .5;
    
            &.play-pause {
                margin: 0 ($spacing * .5);
            }
    
            image {
                font-size: 1.2em;
            }
        }
    
        .artist {
            color: transparentize($fg, .25);
            font-size: .9em;
        }
    
        scale {
            @include slider($size: .5em, $slider-visible: false);
            margin-bottom: $padding * .5;
    
            trough {
                border: none;
            }
        }
    }
    
}