// --------------------------------------------------
// Clock
// --------------------------------------------------
@mixin clock {
    .date {
        font-size: 12px;
        color: $bg;
    }
    
    .time {
        font-size: 12px;
        margin-left: $padding;
        color: $primary-fg;
    }
}
