$bar-spacing: $spacing * .3;

@mixin quicksettings {
    &>box>box {
        @include spacing($spacing: if($bar-spacing==0, $padding / 2, $bar-spacing));
    }

    &:not(.active):not(:active) {
        .bluetooth {
            color: $overlay-bg;

            label {
                font-size: $font-size * .7;
                color: $fg;
                text-shadow: $text-shadow;
            }
        }
    }
}