$primary-bg: #1a1b26;
$primary-fg: #a9b1d6;

$secondary-bg: #24283b;
$secondary-fg: #bb9af7;

// $hover-bg: #2e334f;
// $hover-fg: #f7768e;

$red: #f7768e;
$yellow:#ff9e64;
$blue: #7aa2f7;
$green: #9ece6a;